/* ==========================================================================
   Main
   ========================================================================== */

.animated-bg {
    transition: background .5s ease;
}

/* General
   ========================================================================== */
.main {
    position: relative;
}


/* Fixed
   ========================================================================== */
.main--fixed {

    .article-nav {
        position: fixed;
    }

    .section__info {
        position: fixed;
    }
}
